<body [ngClass]="[themeService.darkMode ? 'dark-theme' : '']">
  <app-header (toggleDrawer)="drawer.toggle()" />
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!!!(isHandset$ | async)"
      class="sidenav"
    >
      <div class="mx-3">
        <mat-nav-list>
          @for (route of routes; track route) {
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="route.path"
            mat-list-item
            routerLinkActive="active"
            >{{ route.label }}</a
          >
          }
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="p-5 h-full">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>

@if (userService.loggedInUser()) {
<div class="absolute bottom-4 right-4 z-50">
  <button matFab extended (click)="openChatDialog()">
    <mat-icon>chat</mat-icon>
    Chat
  </button>
</div>
}
