<mat-toolbar [color]="themeService.selectedColor">
  @if (isHandset$ | async) {
    <button
      (click)="toggleDrawer.emit()"
      aria-label="Toggle sidenav"
      matIconButton
      type="button">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <button matButton routerLink="/">
      <mat-icon>favorite</mat-icon>
    </button>
  } @else {
    <button matButton routerLink="/">NX Workspace</button>
  }
  <span class="flex-1"></span>
  <button [matMenuTriggerFor]="themeColorMenu" matButton>theme color</button>
  <mat-menu #themeColorMenu="matMenu">
    <mat-radio-group
      [(ngModel)]="themeService.selectedColor"
      aria-labelledby="example-radio-group-label"
      class="flex flex-col">
      @for (color of themeService.colors; track color) {
        <mat-radio-button [value]="color">{{ color }}</mat-radio-button>
      }
    </mat-radio-group>
  </mat-menu>
  <mat-slide-toggle
    [(ngModel)]="themeService.darkMode"
    [color]="themeService.selectedColor"
  >
    <div class="flex justify-center">
      <mat-icon>dark_mode</mat-icon>
      DARK MODE
    </div>
  </mat-slide-toggle>
  @if (userService.loggedInUser()) {
    <button matIconButton [matMenuTriggerFor]="profileMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="profile">Profile</button>
      <button mat-menu-item (click)="userService.logout()">Logout</button>
    </mat-menu>
  } @else {
    <a matButton routerLink="login">Login</a>
    <a matButton [href]="idpUrl">Login With IDP</a>
  }
</mat-toolbar>
